<header>
    <nav>
      <a route="/">Home</a>
      <a route="/about">About</a>
      <a route="/contact">Contact</a>
      <a route="/list-products">Products</a>
      <a route="/create-product">Create</a>
    </nav>
  </header>
  